import "./{{dashCase name}}.style.scss";

const {{properCase name}} = () => {
  return <div className="o-{{dashCase name}}">This is the {{properCase name}} component</div>;
}

export default {{properCase name}};