import "./{{dashCase name}}.style.scss";

const {{properCase name}} = () => {
  return <div className="{{dashCase name}}">This is the {{properCase name}} page</div>;
}

export default {{properCase name}};